<!--
 * @Autor: xujiahuan
 * @Date: 2020-05-13 00:02:42
 * @LastEditors: xujiahuan
 * @LastEditTime: 2020-05-13 15:12:41
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{a}}</p>
    <p>{{b}}</p>
    <form action="/login" method="POST">
        用户名<input type="text" name="username">
        密码<input type="password" name="pwd">
        <input type="submit" value="登录">
    </form>
</body>
</html>